//Contenido
.contenido{
  //width: 960px;
  margin: 0 auto;
  &__news{
    //width: 700px;
    float: left;
    @include respond-to('medium') {
      margin: 0 auto;
    }
  }
  &__izquierda{
    //width: 220px;
    float: right;
    @include respond-to('small') {
      display: none;
    }
    @include respond-to('medium') {
      display: block;
    }
  }
}
.noticia{
  display: inline-block;
  @include respond-to('small') {
    width: 100%;
  }
  @include respond-to('medium') {
    width: 47%;
  }
  @include respond-to('extralarge') {
    width: 210px;
  }
  margin: 5px;
  cursor: pointer;
  &__cabecera{
  }
  &__cuerpo{
    & img {
      width: 100% !important;
      height: 300px;
      @include respond-to('medium') {
        width: 210px;
      }
    }
    & p {
      padding: 5px 10px;
    }
  }
}
.izquierda{
    &__cabecera {
      //width: 220px;
      border-bottom: 1px solid gray;
    }
    &__tags {
      border-bottom: 1px solid gray;
      //andres
      display: inline-block;

      & ul {
        padding: 0;
        list-style: none;
      }

      & ul li {
        padding: 4px 8px;
        background-color: steelblue;
        margin-right: 5px;
        color: white;
        //andres
        float: left;
      }
    }
    &__noticias-destacadas {
      margin-bottom: 50px;

      & img {
        width: 220px;
        height: 200px;
      }
    }
}
